# Java
target/
.mvn/wrapper/maven-wrapper.jar

# VS Code
.vscode/settings.json

# Compressed
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# IntelliJ
.idea/

# If the config-server fails
mysql-connector-j-8.4.0
